@import 'tailwindcss';
@import '@uppy/core/dist/style.css';
@import '@uppy/drag-drop/dist/style.css';
@import '@uppy/progress-bar/dist/style.css';

@theme {
  --font-sans:
    'Inter', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji',
    'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

html,
body {
  @apply bg-white dark:bg-gray-950;

  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }
}
.uppy-DragDrop-container {
  width: 100%;
  margin: 0 auto;
  margin-bottom: 10px;
}
.uppy-ProgressBar {
  width: 80%;
  margin: 0 auto;
  border-radius: 20px;
  background-color: #616161;
  height: 10px;
}
.uppy-ProgressBar-inner {
  border-radius: 20px;
}
